<!-- views/categories.ejs -->
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<ul>
			<% 
			categories_list.forEach(function(category){ %>
				<li>
					<a href=categories/edit/<%= category["_id"].replace(/\//g,"-") %> > EDIT / VIEW :  </a>
					<ul>
					<% for (var key in category) {%>
							<% if (key != '_id') { %> 
								<li>
									<%= key %> : <%= JSON.stringify( category[key] ) %> 
								</li>
							<% } %>
					<%}%>
					</ul>
				</li>
			<%}) %>
		</ul>
	</body>
</html>