<!-- views/products.ejs -->

<!DOCTYPE html>
<html>
	<head>
	<script src="/js/jquery-3.2.1.min.js" ></script>
	</head>
	
	<body>
		Category Edit<br/> 
		category ID : <input id="cat_id" value="<%=category_details._id %>"/>
		category Title : <input id="cat_title" value="<%=category_details.title %>"/>
		Parent category : <input id="cat_parent" value="<%=category_details.parent %>"/>
		
		<br/><input id="update_value" type="submit" value ="Update"\>
		<br/><span id="error" style="font-size: large;font-weight: bold;font-size: xx-large;color: red;"></span>
		<hr>
		<br/><br/><input id="clild_category" type="submit" value="Get Child Category" />
		<br/><p id="clild_category_list"></p>
		<hr>
		<br/><br/><input id="products_category" type="submit" value="Get Product having This Category"/>
		<br/><p id="products_category_list"></p>
	</body>
	<script>
		
		var category_id = "<%= category_details._id %>";
		category_id = category_id.replace(/\//g,"-");
		
		//Update Category
		$("#update_value").on( "click" , function(e) {
			try { 
				$("#error").html("");
				
				var id = $("#cat_id").val();
				var title = $("#cat_title").val();
				var parent = $("#cat_parent").val();
				var data = {_id:id,title:title,parent:parent};
				console.log("id = ",id);console.log("title = ",title);
				if(id == "" || title == "") {
					
					$("#error").html("Invalid Data");
					return true;
				}
				
				$.ajax({
					url		:category_id,
					method	:"post",
					dataType: "json",
					contentType: "application/json;charset=utf-8",
					data	: JSON.stringify(data),
					success : function( response ) {
						console.log("updated successfully ", response);
					}
				});
			} catch(e) {
				$("#error").html("Invalid Data");
			}
		});
		
		//Get Clild Category
		$("#clild_category").on("click",function(e){
			try{
				console.log("check");
				$.ajax({
					url		:"/categories/child_category/"+category_id,
					method	:"get",
					dataType: "json",
					success : function( response ) {
						
						if( ! response.error ) {
							var len = response.data.length;
							var child_html = "";
							if(len == 0) {
								child_html = "Child Category is empty";
								$("#clild_category_list").html(child_html);
								return true;
							}
							child_html = "<ul>";	
							for(var i = 0; i < len; i++) {
								child_html += "<li>" + response.data[i].title + "</li>";
							}
							child_html += "</ul>";
							$("#clild_category_list").html(child_html);
						}
					}
				});
			}catch(e){
				console.log("error",e);
			}
		});
		
		//Get Product With This Category
		$("#products_category").on("click",function(e){
			try{
				console.log("check");
				$.ajax({
					url		:"/categories/products_category/"+category_id,
					method	:"get",
					dataType: "json",
					success : function( response ) {
						
						if( ! response.error ) {
							var len = response.data.length;
							var child_html = "";
							if(len == 0) {
								child_html = "Product Category is empty";
								$("#products_category_list").html(child_html);
								return true;
							}
							child_html = "<ul>";	
							for(var i = 0; i < len; i++) {
								child_html += "<li>" + response.data[i].title + "</li>";
							}
							child_html += "</ul>";
							$("#products_category_list").html(child_html);
						}
					}
				});
			}catch(e){
				console.log("error",e);
			}
		});
		
	</script>
</html>