<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Product And Category Mapping (Heady Backend Engineer SAT)</h1>
		<h4><a href="products">product page</a></h4>
		<h4><a href="categories">Categories page</a></h4>
	</body>
</html>