<!-- views/products.ejs -->

<!DOCTYPE html>
<html>
	<head>
	<script src="/js/jquery-3.2.1.min.js" ></script>
	</head>
	
	<body>
		Product Edit<br/> 
		<textarea id="product_details" style="width: 610px; height: 249px;"><%= JSON.stringify(product_details, null, 2) %></textarea>
		<br/><input id="update_value" type="submit" value ="Update"\>
		<br/><span id="error" style="font-size: large;font-weight: bold;font-size: xx-large;color: red;"></span>
	</body>
	<script>
		var product_id = "<%= product_details._id %>";
		$("#update_value").on( "click" , function(e) {
			try { 
				$("#error").html("");
				var data = $("#product_details").val();
				data = $.parseJSON(data);
				console.log(data);
				$.ajax({
					url		:product_id,
					method	:"post",
					dataType: "json",
					contentType: "application/json;charset=utf-8",
					data	: JSON.stringify(data),
					success : function( response ) {
						console.log("updated successfully ", response);
					}
				});
			} catch(e) {
				$("#error").html("Invalid JSON!");
			}
		});		
	</script>
</html>