<!-- views/products.ejs -->

<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<ul>
			<% 
			products_list.forEach(function(products){ %>
				<li>
					<a href=products/edit/<%= products["_id"] %> > EDIT :  </a>
					<ul>
					<% for (var key in products) {%>
							
							<% if (key != '_id') { %> 
								<li>
									<%= key %> : <%= JSON.stringify( products[key] ) %> 
								</li>
							<% } %>
					<%}%>
					</ul>
				</li>
			<%}) %>
		</ul>
	</body>
</html>